* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: black;
}

#game {
  background-color: darkslategrey;
  display: block;
  margin: auto;
}

.welcome {
  margin: 5rem;
  font-size: 5rem;
}

.instructions {
  font-size: 2rem;
}

.name {
  font-size: 5rem;
}

.score {
  font-size: 10rem;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.winner {
  position: absolute;
  top: 53%;
  left: 40%;
  font-size: xx-large;
}

.hidden {
  display: none;
}
